*.class
*.log
*.jar
*.war
*.ear

Elevator/animator/DefaultConfig/*
Elevator/exe/DefaultConfig/*
Elevator/Elevator_auto_rpy
Elevator-docs

Elevator-gui/nbproject/private/
Elevator-gui/build/
Elevator-gui/nbbuild/
Elevator-gui/dist/
Elevator-gui/nbdist/
Elevator-gui/nbactions.xml
Elevator-gui/nb-configuration.xml